$background: #FFFFFF;
$text_color: #000000;
$keyboard-background: hsl(359, 30%, 80%);

$button-background : hsl(359, 100%, 75%);
$button_control-background : hsl(359, 100%, 65%);

$button-inner_shadow: hsl(30, 20%, 98%);
$button-drop_shadow : hsl(354, 73%, 55%);
$button_control-drop_shadow : hsl(354, 73%, 45%);

$button-text: $button-inner_shadow;
$button_text-hover: $button-drop_shadow;
$button_control-text-hover: $button_control-drop_shadow;

$textarea-border: $button_control-background;
$textarea-focus: $button-background;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;

    width: 100%;
    height: 100%;

    font-size: 10px;
    font-family: "PT Mono", monospace;
    color: $text_color;

    background-color: $background;
}

.container {
    display: block;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 25px;
}

.textarea {
    width: 100%;
    margin: 15px auto;
    padding: 10px;

    font-size: 1.5rem;
    font-family: inherit;

    border: 1px solid $textarea-border;
    border-radius: 1rem;
}

.textarea:focus {
    outline: 0;
    box-shadow: 0px 0px 4px 2px $textarea-focus;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboardRow {
    padding: 0 2rem;

    background-color: $keyboard-background;
}

.keyboardRow:first-child {
    padding-top: 1rem;

    border-radius: 1rem 1rem 0 0;
}

.keyboardRow:last-child {
    padding-bottom: 1rem;

    border-radius: 0 0 1rem 1rem;
}

.button {
    position: relative;

    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 0.3rem;

    font-family: inherit;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: $button-text;

    background: $button-background;
    border: 0;
    border-radius: 1rem;
    outline: none;
    box-shadow: 0 1px 1px $button-drop_shadow, 1px 1px 0 $button-inner_shadow inset;
    
    transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease;

    cursor: pointer;

    &:hover {
        color: $button_text-hover;

        box-shadow: 0 0 10px $button-drop_shadow, 1px 1px 150px $button-inner_shadow inset;

        transform: scale(1.1, 1.1);
    }

    &:active {
        color: $button-text;

        box-shadow: 0 1px 1px $button-drop_shadow, 1px 1px 0 $button-inner_shadow inset;
    }
}

.buttonControl {
    color: $button-text;

    background: $button_control-background;
    border: 0;

    transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease;

    cursor: pointer;

    &:hover {
        color: $button_control-text-hover;

        box-shadow: 0 0 10px $button_control-drop_shadow, 1px 1px 150px $button-inner_shadow inset;

        transform: scale(1.1, 1.1);
    }

    &:active {
        color: $button-text;

        box-shadow: 0 1px 1px $button_control-drop_shadow, 1px 1px 0 $button-inner_shadow inset;
    }
}

#buttonTab,
#buttonBackslash {
    width: 8rem;
}

#buttonBackspace,
#buttonCapsLock,
#buttonShiftLeft {
    width: 11rem;
}

#buttonEnter,
#buttonShiftRight {
    width: 10.6rem;
}

#buttonSpace {
    width: 39rem;
}

.button_hover {
    color: $button_text-hover;

    box-shadow: 0 0 10px $button-drop_shadow, 1px 1px 150px $button-inner_shadow inset;

    transform: scale(1.1, 1.1);
}

.button_active {
    color: $button-text;

    box-shadow: 0 1px 1px $button-drop_shadow, 1px 1px 0 $button-inner_shadow inset;
}

.buttonControl_hover {
    color: $button_control-text-hover;

    box-shadow: 0 0 10px $button_control-drop_shadow, 1px 1px 150px $button-inner_shadow inset;

    transform: scale(1.1, 1.1);
}

.helper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    font-family: inherit;
    font-size: inherit;

    li {
        display: inline-block;
    }
}