* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: "PT Mono", monospace;
  color: #000000;
  background-color: #FFFFFF;
}

.container {
  display: block;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 25px;
}

.textarea {
  width: 100%;
  margin: 15px auto;
  padding: 10px;
  font-size: 1.5rem;
  font-family: inherit;
  border: 1px solid #ff4d4f;
  border-radius: 1rem;
}

.textarea:focus {
  outline: 0;
  -webkit-box-shadow: 0px 0px 4px 2px #ff8082;
          box-shadow: 0px 0px 4px 2px #ff8082;
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboardRow {
  padding: 0 2rem;
  background-color: #dbbdbd;
}

.keyboardRow:first-child {
  padding-top: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.keyboardRow:last-child {
  padding-bottom: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.button {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 0.3rem;
  font-family: inherit;
  line-height: 2rem;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #fbfaf9;
  background: #ff8082;
  border: 0;
  border-radius: 1rem;
  outline: none;
  -webkit-box-shadow: 0 1px 1px #e03849, 1px 1px 0 #fbfaf9 inset;
          box-shadow: 0 1px 1px #e03849, 1px 1px 0 #fbfaf9 inset;
  -webkit-transition: margin-top .2s ease, -webkit-box-shadow .2s ease, -webkit-transform .5s ease;
  transition: margin-top .2s ease, -webkit-box-shadow .2s ease, -webkit-transform .5s ease;
  transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease;
  transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease, -webkit-box-shadow .2s ease, -webkit-transform .5s ease;
  cursor: pointer;
}

.button:hover {
  color: #e03849;
  -webkit-box-shadow: 0 0 10px #e03849, 1px 1px 150px #fbfaf9 inset;
          box-shadow: 0 0 10px #e03849, 1px 1px 150px #fbfaf9 inset;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.button:active {
  color: #fbfaf9;
  -webkit-box-shadow: 0 1px 1px #e03849, 1px 1px 0 #fbfaf9 inset;
          box-shadow: 0 1px 1px #e03849, 1px 1px 0 #fbfaf9 inset;
}

.buttonControl {
  color: #fbfaf9;
  background: #ff4d4f;
  border: 0;
  -webkit-transition: margin-top .2s ease, -webkit-box-shadow .2s ease, -webkit-transform .5s ease;
  transition: margin-top .2s ease, -webkit-box-shadow .2s ease, -webkit-transform .5s ease;
  transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease;
  transition: box-shadow .2s ease, transform .5s ease, margin-top .2s ease, -webkit-box-shadow .2s ease, -webkit-transform .5s ease;
  cursor: pointer;
}

.buttonControl:hover {
  color: #c71f30;
  -webkit-box-shadow: 0 0 10px #c71f30, 1px 1px 150px #fbfaf9 inset;
          box-shadow: 0 0 10px #c71f30, 1px 1px 150px #fbfaf9 inset;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.buttonControl:active {
  color: #fbfaf9;
  -webkit-box-shadow: 0 1px 1px #c71f30, 1px 1px 0 #fbfaf9 inset;
          box-shadow: 0 1px 1px #c71f30, 1px 1px 0 #fbfaf9 inset;
}

#buttonTab,
#buttonBackslash {
  width: 8rem;
}

#buttonBackspace,
#buttonCapsLock,
#buttonShiftLeft {
  width: 11rem;
}

#buttonEnter,
#buttonShiftRight {
  width: 10.6rem;
}

#buttonSpace {
  width: 39rem;
}

.button_hover {
  color: #e03849;
  -webkit-box-shadow: 0 0 10px #e03849, 1px 1px 150px #fbfaf9 inset;
          box-shadow: 0 0 10px #e03849, 1px 1px 150px #fbfaf9 inset;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.button_active {
  color: #fbfaf9;
  -webkit-box-shadow: 0 1px 1px #e03849, 1px 1px 0 #fbfaf9 inset;
          box-shadow: 0 1px 1px #e03849, 1px 1px 0 #fbfaf9 inset;
}

.buttonControl_hover {
  color: #c71f30;
  -webkit-box-shadow: 0 0 10px #c71f30, 1px 1px 150px #fbfaf9 inset;
          box-shadow: 0 0 10px #c71f30, 1px 1px 150px #fbfaf9 inset;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.helper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
}

.helper li {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */